@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url(../images/background-underground.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

main {
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.area-de-consulta {
    padding: 20px;
    margin: 20px;

    background-color: #e0e002d5;

    border-radius: 10px;
}

.area-de-consulta > h1 {
    font-weight: normal;
} 

.aviso {
    margin: 10px;
    padding: 7px;

    background-color: #000000;
    color: #e0e002;
    
    border-radius: 10px;
}

.form-group {
    display: flex;
    flex-direction: column;

    margin: 10px;
}

.form-group label {
    font-weight: bolder;

    margin-bottom: 5px;
}

.form-group small {
    margin-top: 3px;
}

.form-control {
    padding: 6px;

    outline: none;
}

.form-control:focus {
    border: 1px solid #00878e;
}

#busca-cep {
    display: block;
    margin: auto;

    padding: 8px;

    background-color: #000000;
    color: #e0e002;

    border: none;
    border-radius: 5px;

    cursor: pointer;
}